
!.vscode/extensions.json
# Android build outputs
# Editor directories and files
# Logs
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.idea
.vscode/*
android/.gradle
android/app/build
android/build
android/capacitor-cordova-android-plugins/build
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
